html {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url('https://lh5.googleusercontent.com/p/AF1QipPQe-o_yczIr97RP3VUviA42S9eiwxVC_Gx9910=w720-h1186-p-k-no') /*no-repeat center center fixed*/;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
}

.logo {
    width: 100px; 
    height: 100px;
    object-fit: cover;
    object-position: 50%;
}

.panel {
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.panel-link {
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    font-size: x-large;
}

.panel-image {
    flex-grow: 0.1;
}

.panel-button {
    display: flex;
    justify-content: center;
    height: 2rem;
    width: 5rem;
    flex-grow: 0.1;
    border-bottom: solid;
    border-color: white;
}

.social-embedded {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    margin: 1rem;
}

.social-forum {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
